#wrapper{
    height:800px;
    width:980px;
    margin:auto;
    border:1px solid rgb(255, 251, 0);   
    background-color:rgb(151, 144, 144);
}


body{
    background-color:rgb(134, 81, 10);
    background-image:url(images/Jojobackground.png);
}

#header{
    text-align:center;
}

#gamebtn{

    margin-left:0px;
    margin-top:100px;
    text-align:center;
    padding:50px;
    
}

#btn{

    height:150px;
    line-height:150px;
    width:175px;
    margin:auto;
    border:1px solid rgb(255, 251, 0);
    text-align:center;
    background-color:rgb(255, 251, 0);
    color:black;
    text-decoration:none;
    
}

.game-link{
    color:black;
    text-decoration:none;
    width: 500px;
}

.game-link:hover{
    color:rgb(255, 251, 0);
    background-color:black;
}

#left{
    float:left;
    position:relative;
    top:100px;
}

.ammo{
    float:left;
    padding:20px;
}


#right{
  position:relative;
   float:right;
   top:90px;
   padding:10px;
}

.btn-right{
    position:relative;
    float:left;
    padding:10px;

}

#shootbtn{
    border:1px solid orangered
    background-color:orange
}

#reloadbtn{
    border:1px solid orangered
    background-color:orange
}

.copy{
    
    margin-top:170px;
    margin-left:350px;;
}

#total-ammo{
    border:1px solid rgb(255, 251, 0);
  
}

#current-ammo{
    border:1px solid rgb(255, 251, 0);
   
}

#label{
    float:left;
    padding:10px;
}

#gametitle{
   width:500px;
   margin:auto;
   text-align:center;
}

#deathclaw{
    width:300px;
    height:auto;
    margin-left:350px;
}
#homeimage{
    padding: 50px;
}