 body {
    background-color: rgb(5, 42, 68);
    background-image: url(images/bg.jpg);
    /*global font families for whole page*/
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}
#header{
    color: thistle;
}

#buttons{ 
    background-color: white;
}
#content{
    background-color: black;
}
#footer {
    clear: both; /*both means left and right*/
    width: 940px;
    height: 40px;
    font-size: 20px;
    color: rgba(106,130,145,.5);
    text-align: center;
    line-height: 40px;
    border-top: 2px solid #3c6777;
}