 body {
    background-color: rgb(5, 42, 68);
    background-image: url(images/bg.jpg);
    /*global font families for whole page*/
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}
#wrapper{
    width: 1000px;
    margin: auto;
}
#header{
    color: thistle;
}

#buttons{ 
    background-color: white;
    border: 1px solid black;
}
#content{
    background-color: black;
}
#nav-link{
    
}
#footer {
    clear: both; /*both means left and right*/
    font-size: 20px;
    color: rgba(106,130,145,.5);
    text-align: center;
    border-top: 2px solid #3c6777;
}
.section {
    float: left;
}
.section-title{
    float: right;
}
.hobbies{
float: right;
clear: both;
}
.bio{
    float: left;
    clear: both;
}